@import "./secondBody.css";
@import "./thirdBody.css";
@import "./fourthBody.css";
@import "./fifthBody.css";

html{
    font-size:15px;
    background-color:hsl(228, 100%, 84%);
}
body{
    width:100vw;
    height:100vh;
    font-size:1em;
    background-color:hsl(228, 100%, 84%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.container {
    width:600px;
    height:400px;
    display:flex;
    gap:10px;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:hsl(0, 0%, 100%);
    padding:10px;
    box-sizing:border-box;
    border-radius:10px;
    margin:auto;
}
#fourth_body, 
#fifth_body,
#second_body,
#third_body{
    display:none;
    position:relative;
}
.section_1{
    width:200px;
    height:100%;
    border-radius:10px;
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:hsl(0, 0%, 100%);
}
.step_container{
    Margin:10px;
}
input:invalid{
    border:2px solid red;
}
.h1{
    font-size:2em;
    font-weight:700;
    color:hsl(213, 96%, 18%);
}
button{
    cursor: pointer;
}
.details{
    color:hsl(229, 24%, 87%);
    font-weight:300;
    margin-bottom:10px;
    font-size: .8em;
}
.stp p{
    font-weight: 300;
    color:hsl(229, 24%, 87%);
}
.step{
    display:flex; 
    width:fit-content;
    align-items:center;
    gap:10px;
    line-height:5px;
    justify-content:top;
    font-size: .8em;
}
.btn-parent{
    width:30px;
    height:30px;
    background-color: transparent;
    border-radius:50%;
    position:relative;
}
.stp-btn{
    position: absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.btn-btn{
    position:absolute;
    z-index:5;
    background-color: transparent;
    width:100%;
    color:inherit;
    height:100%;
    border:1px solid hsl(0, 0%, 100%);
    border-radius:50%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.active .stp-btn{
    background-color:hsl(206, 94%, 87%);
    border:none;
    animation:wave ease-in-out 2s infinite;
}
.active .btn-btn{
    background-color:hsl(228, 100%, 84%);
    color:hsl(213, 96%, 18%);
    border:none; 
}
.active .stp-btn:first:child{
    animation-delay:0s;
}
.active .sto-btn:nth-child(3){
    animation-delay:0.3s;
}
.active .stp-btn:nth-child(2){
    animation-delay:0.6s;
}
.section_2{
    width:380px;
    height:100%;
    color:hsl(213, 96%, 18%);
    padding:10px 20px;
    box-sizing:border-box;
}
.error{
    border:2px solid red;
}
.body{
    width:100%;
    height:100%;
    background-color: transparent;  
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}
.input-parent{
    margin-top:10px;
}
.inpErr{
    border-color:hsl(354, 84%, 57%);
}
.form{
    width:inherit;
    height:inherit;
    padding:0 10px;
    box-sizing:border-box;
}
label{
    display:flex;
    justify-content: space-between;
    width:100%;
}
#error{
    color:hsl(354, 84%, 57%);
    font-size:0.7em;
    font-weight:700;
}
.input{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
    line-height:30px;
}
input {
    height:30px;
    cursor:pointer;
    border:1px solid hsl(229, 24%, 87%);
    border-radius:5px;
    padding:10px;
    box-sizing:border-box;
}
input:focus{
    border-color: hsl(243, 100%, 62%);
    outline:none;
}
input:invalid{
    border-color:hsl(354, 84%, 57%);
}
.btn{
    position: absolute;
    bottom: 0;
    width:100%;
    height:30px;
    display: flex;
    justify-content:space-between;
    padding:0 10px;
    box-sizing:border-box;
    align-items:center;
}
.btn-next{
    flex-direction:row-reverse;
}
.next,.back{
    width:80px;
    height:30px;
    background-color: transparent;
    border:none;
    background-color:hsl(213, 96%, 18%);
    color:hsl(0, 0%, 100%);
    border-radius:5px;
}
.back{
    background-color: transparent;
    color:hsl(213, 96%, 18%);
}
.next:hover,
.next:focus,
.back:hover,
.back:focus{
    opacity:1;
}
 .attribution { 
 font-size: 11px;
  text-align: center; 
  }
    .attribution a { 
    color: hsl(228, 45%, 44%);
  }
  .slide{
    animation: slides ease .2s;
  }
  @keyframes slides {
    0%{transform: translateX(500%);}
    20%{transform: translateX(30%);}
    40%{transform: translateX(20%);}
    60%{transform: translateX(10%);}
    80%{transform: translateX(5%);}
    90%{transform: translateX(-5%);}
    100%{transform: translateX(0%);}
    
  }
@keyframes wave{
    0%{
        transform:scale(1);
        opacity:0.5;
    }
    25%{
        transform:scale(1.1);
        opacity:0.4;
    }
    50%{
        transform:scale(1.3);
        opacity:0.3;
    }
    75%{
        transform:scale(1.5);
        opacity:0.1;
    }
    100%{
        transform:scale(1.8);
        opacity:0;
    }
}
@media screen and (max-width:600px){
    body{
        margin:0;
    }
    .container{
        width:100%;
        height:100vh;
        flex-direction:column;
        padding:0;
        border-radius:0;
        background-color: transparent;
    }
    .section_1{
        width:100%;
        border-radius:0;
        height:200px;
        padding-top:10px;
        box-sizing:border-box;
        background-image:url("./assets/images/bg-sidebar-mobile.svg");
        
    }
    .h1{
    font-size:2em;
    font-weight:700;
    color:hsl(213, 96%, 18%);
    }
    .stp{
        display:none;
    }
    .step_container{
        display:flex;
        justify-content:center;
        gap:10px;
        margin-top:20px;
    }
    .section_2{
        width:100%;
        height:100%;
        background-color: transparent;
        border-radius:0;
        padding:0;
    }
    .btn{
        width:100%;
    }
    .form{
        width:90%;
        min-height:350px;
        height:fit-content;
        height:fit-content;
        border-radius:10px;
        background-color:hsl(0, 0%, 100%);
        font-weight:400;
        font-size:1.2em;
        position: absolute;
        top:-75px;
        right:0;
        left:0;        
        margin:auto;
        padding:30px;
        box-sizing:border-box;
    }
    .btn{
        bottom:0;
        width:100%;
        height:70px;
        background-color:hsl(0, 0%, 100%);
        margin:0;
    }
    label{
        font-weight:700;
    }
    input{
        height:40px;
        font-size:1em; 
    }
    
    .input{
        line-height:30px;
        margin-top:10px;
    }
    .next,.back,.confirm{
        width:80px;
        height:40px;
        border-radius:0;
    }
    .body{
        display:flex;
        align-items:center;
        color:hsl(231, 11%, 63%);
    }
    label{
        color:hsl(213, 96%, 18%);
    }
    .step{
        justify-content:center;
    }
    
    
    .attribution{
        display:none;
    }
}
